.wp-block-mindset-blocks-company-email {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.wp-block-mindset-blocks-company-email p {
	margin: 0;
	font-style: normal;
}

.wp-block-mindset-blocks-company-email svg {
	width: 2rem;
	height: 2rem;
}